In [ ]:
#   qb population of 100
#   this df contains our single-instance variables (as opposed to yearly)

In [17]:
import pandas as pd
import csv

In [18]:
#read in all quarterbacks drafted from 2000 - 2020

qb_population = "drafts_qb_only_all_years.csv"
qb_population_df = pd.read_csv(qb_population)
qb_population_df

,Player,Year,Rnd,Pick,DrAge,Tm,G,GS,College/Univ
0,Tom Brady,2000,6,199,23,NWE,318,316,Michigan
1,Drew Brees,2001,2,32,22,SDG,287,286,Purdue
2,Ben Roethlisberger,2004,1,11,22,PIT,249,247,Miami (OH)
3,Philip Rivers,2004,1,4,22,NYG,244,240,North Carolina St.
4,Eli Manning,2004,1,1,23,SDG,236,234,Mississippi
...,...,...,...,...,...,...,...,...,...
95,Bryce Petty,2015,4,103,24,NYJ,10,7,Baylor
96,Ryan Lindley,2012,6,185,23,ARI,10,6,San Diego St.
97,Spergon Wynn,2000,6,183,22,CLE,10,3,Texas St.
98,John Beck,2007,2,40,26,MIA,9,7,BYU
99,Drew Henson,2003,6,192,23,HOU,9,1,Michigan